<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- MemberMapper.java 연결 -->
<mapper namespace="com.java.www.mapper.MemberMapper">
  <select id="login" resultType="com.java.www.dto.MemberDto2">
     select * from member where id=#{id} and pw=#{pw}
  </select>
	
  <!-- 아이디 체크 -->	
  <select id="idCheck" resultType="com.java.www.dto.MemberDto2">
     select * from member where id=#{id} 
  </select>
  
  <!-- 비밀번호 찾기 -->
  <select id="pwsearch" resultType="com.java.www.dto.MemberDto2">
     select * from member2 where id=#{id} and email=#{email}
  </select>

  <!-- 아이디 찾기 -->
  <select id="idsearch" resultType="com.java.www.dto.MemberDto2">
     select * from member2 where name=#{name} and email=#{email}
  </select>
  
  <!-- 패스워드변경 - update -->
   <update id="update_pw">
   		update member2 set pw=#{pwcode} where id=#{id}
   </update>
   
   
</mapper>